* {
  box-sizing: border-box;
  padding: 0px;
  font-family: 'neo-sans', sans-serif;
}

@font-face {
  font-family: 'neo-sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://use.typekit.net/af/b07eb4/00000000000000007735bb57/30/l?primer=83aaf8b3086dc5b082c9b97866118e90ec8a0116a2f1fa26fea125d379f2cd21&fvd=n7&v=3')
    format('woff2');
}

@font-face {
  font-family: 'neo-sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://use.typekit.net/af/49bd4e/00000000000000007735bb45/30/l?primer=83aaf8b3086dc5b082c9b97866118e90ec8a0116a2f1fa26fea125d379f2cd21&fvd=i7&v=3')
    format('woff2');
}

@font-face {
  font-family: 'neo-sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://use.typekit.net/af/cc16b7/00000000000000007735bb40/30/l?primer=83aaf8b3086dc5b082c9b97866118e90ec8a0116a2f1fa26fea125d379f2cd21&fvd=i4&v=3')
    format('woff2');
}

@font-face {
  font-family: 'neo-sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://use.typekit.net/af/fde5b4/00000000000000007735bb56/30/l?primer=83aaf8b3086dc5b082c9b97866118e90ec8a0116a2f1fa26fea125d379f2cd21&fvd=n5&v=3')
    format('woff2');
}

@font-face {
  font-family: 'neo-sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://use.typekit.net/af/b34fab/00000000000000007735bb5f/30/l?primer=83aaf8b3086dc5b082c9b97866118e90ec8a0116a2f1fa26fea125d379f2cd21&fvd=n4&v=3')
    format('woff2');
}

:root {
  --purple-900: #1a1a2e;
  --white: #fff;
  --gray-200: hsla(0, 0%, 100%, 0.2);
  --gray-400: hsla(0, 0%, 100%, 0.6);
  --green-300: #8ace4f;
  --green-500: #6cb928;
  --green-600: #4e8d17;
  --yellow-500: #fecd19;
  --red-600: #e94560;
  --red-500: #e21538;
}

body {
  background-color: #1a1a2e;
  margin: 0px;
}

.HomeBackground {
  background: radial-gradient(
      66.5% 221.21% at 136.03% -61.44%,
      rgba(161, 155, 217, 0.4) 0%,
      rgba(161, 155, 217, 0) 92.09%
    ),
    radial-gradient(
      93.54% 126.91% at 29.15% -56.29%,
      rgba(233, 69, 96, 0.7) 0%,
      rgba(233, 69, 96, 0) 92.09%
    ),
    radial-gradient(
      86.19% 101.84% at -17.13% -24.8%,
      rgba(0, 162, 254, 0.7) 0%,
      rgba(0, 162, 254, 0) 92.09%
    ),
    var(--purple-900);

  height: 100vh;
  width: 100vw;

  position: fixed;
  z-index: -1;
}

canvas {
  display: none;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: background-color 0.2s, opactiy 0.2s;
}
